.recipe-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.recipe-details .img-title {
  position: relative;
}

.recipe-details .recipe-img-details {
  aspect-ratio: 1/1;
  width: 100%;
}

.recipe-details .recipe-title {
  color: var(--blue-secondary);
  font-size: xx-large;
  font-weight: 900;
  margin-top: -50%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.recipe-details .recomendations {
  display: flex;
  gap: 16;
  margin: 0 auto;
  max-width: 250px;
  overflow-x: auto;
  width: 100%;
}

.recipe-details .recomendation-card {
  margin: 16px;
  width: 100%;
}

.recipe-details .recomendation-card img {
  width: 100px;
}

.recipe-details iframe {
  aspect-ratio: 16/9;
}

.recipe-details .start-recipe-btn {
  bottom: 0;
  position: fixed;
}

.recipe-details .like-favorite-btns {
  margin-bottom: 40px;
}

@media only screen and ( min-width : 768px ) {

  .recipe-details .recipe-img-details {
    aspect-ratio: 1/1;
    width: 600px;
  }

  .recipe-details .recipe-title {
    color: var(--blue-secondary);
    font-size: xx-large;
    font-weight: 900;
    margin-top: -20%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
  }

}
