.recipe-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.recipe-details h5 {
  margin-top: 20px;
  text-align: center;
}

.img-title {
  position: relative;
  text-align: center;
}

.recipe-img-details {
  aspect-ratio: 1/1;
  max-width: 375px;
  text-align: center;
}

.recipe-title {
  background-color: rgba(255, 255, 255, 0.574);
  color: var(--blue-primary);
  font-size: xx-large;
  font-weight: 900;
  margin-top: -50%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.recipe-category {
  font-weight: 700;
  margin: 0;
  padding: 16px 0 0;
  text-align: center;
}

.ingredients, .instructions, .video {
  background-color: var(--blue-terciary);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px , rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  margin: 8px 16px;
  padding: 10px;
}

.recipe-details .ingredients-list {
  display: flex;
  flex-direction: row;
  gap: 90px;
  list-style: square;
}

.recipe-details .video {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.recipe-details .recomendations {
  display: flex;
  gap: 16;
  margin: 0 auto;
  max-width: 250px;
  overflow-x: auto;
  width: 100%;
}

.recomendation-card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px , rgba(0, 0, 0, 0.23) 0 3px 6px;
  height: fit-content;
  margin: 16px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.recipe-details .recomendation-card > h3 {
  background-color: var(--blue-secondary);
  color: black;
  height: 30px;
  margin: 0;
  text-align: center;
}

.recipe-details .recomendation-card img {
  width: 100px;
}

.recipe-details iframe {
  aspect-ratio: 16/9;
}

.recipe-details .start-recipe-btn {
  background-color: var(--blue-primary);
  border: var(--blue-primary) 1px solid;
  bottom: 0;
  color: white;
  height: 40px;
  position: fixed;
  width: 100%;
}

.recipe-details .like-favorite-btns {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.recipe-details .like-favorite-btns button {
  background-color: var(--orange-secondary);
  border: var(--orange-secondary) solid 2px;
  color: #f07818;
  font-size: 100%;
  font-weight: 700;
  height: 40px;
  width: 80px;
}

@media only screen and ( min-width : 768px ) {

  .recipe-details .recipe-img-details {
    aspect-ratio: 1/1;
    width: 600px;
  }

  .recipe-details .recipe-title {
    color: var(--blue-secondary);
    font-size: xx-large;
    font-weight: 900;
    margin-top: -20%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
  }
}
