:root {

  --orange-primary: #af18f0;

  --orange-secondary: #543dc6;

  /* --orange-terciary: #fcebb6; */

  --orange-terciary: #e6b6fc;

  --blue-primary: #005a69;

  --blue-secondary: #40c0cb;

  --blue-terciary: #89d1d8;
}
